!!! 5
html
  head
    title Anthony Nardi - 404
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include css
  body
    header
      #nav-container.container-fluid
        include nav
    main
      #content.container
        h1 404
    footer