ul#navList
  li.navItem: a(href='/index', title='Home') Home
  li.navItem: a(href='/blog', title='Blog') Blog
  li.navItem: a(href='/demos', title='Demos') Demos
  li.navItem: a(href='/about', title='About') About