!!! 5
html
  head
    title Anthony Nardi - Blog
    include js
    script(src='general.js')
    include mootscripts
    include css
  body
    #nav
      include nav
    #content
      a.moot(href='https://api.moot.it/anthonynardi/blog/test')