#content {
	height:600px;
}
li.demoItem a {
	color: #66f;
	clear: both;
	display: block;
}
li.demoItem a.imglink {
	float:left;
}
li.demoItem p {
	float:left;
	padding-left:20px;
}
li.demoItem h1 {
	font-size:1.5em;
	padding-top:10px;
	padding-bottom: 10px;
}
#instructions {
	padding:20px;
	font-size: 1.125em;
}
#myCanvas {
	display: block;
	margin: auto;
}
#container canvas {
	display: block;
	margin: auto;
}