!!! 5
html
  head
    title Anthony Nardi - Thoughts
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include js
    script(src='general.js')
    include css
  body
    header
      #nav-container.container-fluid
        include nav
    main
      #content.container
        div.row
          div.date.col-md-2.col-xs-2
            Nov 11
          div.subject.col-md-10.col-xs-10
            Some random subject...
    footer