!!! 5
html
  head
    title Anthony Nardi - Demos
    include js
    link(rel='stylesheet', href='styles.css')
    include css
  body
    #nav
      include nav
    #content
      #container
        canvas(id='myCanvas', width='800', height='800')
    script(src='aStar/bundle.js')