!!! 5
html
  head
    title Anthony Nardi - Demos
    include js
    script(src='ge1/system/game.js')
    script(src='ge1/general.js')
    link(rel='stylesheet', href='styles.css')
    include css
  body
    #nav
      include nav
    #content.engine1
      p - Click and Drag the canvas
        |  - Use the mousewheel to zoom in/out
        |  - Use the arrow keys to fly the ship-car
        |  - Press the space bar to shoot 
      #container.engine1