!!! 5
html
  head
    title Anthony Nardi - Demos
    include js
    link(rel='stylesheet', href='styles.css')
    include css
  body
    #nav
      include nav
    p#instructions
      |  Press "K" to zoom out.  Press "I" to zoom in. Press "L" to rotate viewport counter-clockwise
      |  Press "O" to rotate viewport clockwise.  Press "H" to move up, "N" to move down, "M" to move right,
      |  and "B" to move left.
    script(src='ge2/bundle.js')