!!! 5
html
  head
    title Anthony Nardi - Demos
    include js
    link(rel='stylesheet', href='styles.css')
    include css
  body
    #nav
      include nav
    p#instructions
      Use the following keys to control the camera.
    script(src='ge2/bundle.js')