!!! 5
html
  head
    title Anthony Nardi - Home
    include js
    script(src='system/game.js')
    script(src='general.js')
    link(rel='stylesheet', href='styles.css')
    include css
  body
    #nav
      include nav
    #content
      #container