!!! 5
html
  head
    title Anthony Nardi - Demos
    include js
    link(rel='stylesheet', href='styles.css')
    include css
  body
    #nav
      include nav
    #content
      #container
        ul
          li.demoItem
            a(href='/demos/engineOne', title='Animation Engine 1'): h1 Animation Engine 1
            a.imglink(href='/demos/engineOne', title='Animation Engine 1'): img(src='/ge1.png', width='200')
            p Something something something...
          li.demoItem
            a(href='/demos/engineTwo', title='Animation Engine 2'): h1 Animation Engine 2
            a.imglink(href='/demos/engineTwo', title='Animation Engine 2'): img(src='/ge2.png', width='200')
            p Something something something...
          li.demoItem
            a(href='/demos/aStar', title='aStar'): h1 aStar
            a.imglink(href='/demos/aStar', title='aStar'): img(src='/astar.png', width='200')
            p Something something something...
          li.demoItem
            a(href='/demos/connectFour', title='Connect Four'): h1 Connect Four
            a.imglink(href='/demos/connectFour', title='Connect Four'): img(src='/connect4.png', width='200')
            p Something something something...
          li.demoItem
            a(href='/demos/explorer', title='Logiacl Explorer'): h1 Logical Explorer
            a.imglink(href='/demos/explorer', title='Logiacl Explorer'): img(src='/explorer.png', width='200')
            p Something something something...
          li.demoItem
            a(href='/demos/tron', title='Canvas Tron'): h1 Canvas Tron
            a.imglink(href='/demos/tron', title='Canvas Tron'): img(src='/tron.png', width='200')
            p Something something something...