!!! 5
html
  head
    title Anthony Nardi - Home
    include js
    script(src='general.js')
    include css
  body
    #nav
      include nav
    #content
      p My core compentencies include Javascript, PHP, Bash, SQL, and .Net.
        |  I have built and maintained websites built on top of completely custom
        |  .Net frameworks, the open source eCommerce platform Magento, and my own 
        a(href='https://github.com/anthony-nardi/NodeJS-Web-Server', title='NodeJS Web Server', target='_blank', class='inline darkblue') Node.js MVC framework
        |  from which these pages are served. I was one of the three eCommerce team members
        |  at my previous job, where I became a certified Magento developer.  I spent the
        |  majority of my time building server side modules for a retail furniture chain, such as
        |  implementing their shipping and routing logic.
      br
      p Despite my experience and knowledge of the Magento platform, PHP, and .Net, what really
        |  excites me is NodeJS.  I find the programming model it offers intuitive and I want  
        |  to explore and understand NodeJS' potential as a scalable, data-intensive, real-time
        |  distributed network of servers. 
      br
      p If you are interested in engaging in a conversation over email, phone, or in person, feel free
        |  to shoot me an 
        a(href='mailto:Nardi.Anthony@gmail.com', class='inline darkblue', target='_blank')  email.