!!! 5
html
  head
    title Anthony Nardi - Home
  body
    #nav
      ul
        li: a(href='/home') Home
        li: a(href='/blog') Blog
        li: a(href='/demos') Demos
        li: a(href='/about') About
    include header
    include footer