!!! 5
html
  head
    title Anthony Nardi - Home
    include js
    script(src='general.js')
    include css
  body
    #nav
      include nav
    #content
      p
      |  I have been using web technologies for the past two years, writing
      |  in languages such as Javascript, HTML5, CSS, .Net, PHP, MySQL, and Bash.
      |  I have built and maintained websites built on top of completely custom
      |  .Net frameworks, the eCommerce platform Magento, and 
      |  my own Node.js MVC framework from which these pages are served.
      |  I am a certified Magento developer and have written many modules 
      |  including ones that handle a multi-million dollar business's routing and 
      |  shipping logic.