!!! 5
html
  head
    title Anthony Nardi - Home
    include js
    script(src='general.js')
    include css
  body
    #nav
      include nav
    #content
      p My core compentencies include Javascript, HTML5, PHP, .Net, SQL, and Bash.
        |  I have built and maintained websites built on top of completely custom
        |  .Net frameworks, the open source eCommerce platform Magento, and my own Node.js MVC
        |  framework from which these pages are served. I was on the eCommerce team of three
        |  at my previous job, where I became a certified Magento developer.  I spent the
        |  majority of my time building modules on a server for a retail furniture chain.