!!! 5
html
  head
    title Anthony Nardi - Logs
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include js
    script(src='general.js')
    include css
    script.
      window.logs = !{JSON.stringify(logs)}
  body
    header
      #nav-container.container-fluid
        include nav
    main.logs
      #content.container
    footer